/lab1-vitor/lab1/target/
/Lab-1/Lab1/target/
/cronometro/target/
/Lab-3/dist/
/lab3/Cronometro/dist/
/Lab-3/Cronometro/build/
/Lab-3/Cronometro/dist/
/Lab-3/Cronometro/nbproject/private/
/Lab-4/cliente/nbproject/private/
/Lab-4/server/nbproject/private/
/Lab-4/server/dist/
/Lab-4/server/build/
/Lab-4/cliente/dist/
/Lab-4/cliente/build/